@namespace Shipwreck.ViewModelUtils.Components
@inherits PopoverRowBase
@using (OnBeginRender())
{
    var col = LabelColumn ?? DefaultLabelColumn;

    if (IsVisible != false)
    {
        <dt class="col-@col">
            <label title="@Description">@Title</label>
        </dt>
        <dd class="col-@(12 - col)">
            <span class="badge @Style.ToBadgeClass()">
                @Value
            </span>
        </dd>
    }
}
@code
{
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public BorderStyle Style { get; set; }
}
