@namespace Shipwreck.ViewModelUtils.Components
@inherits PopoverRowBase
@{
    var col = LabelColumn ?? DefaultLabelColumn;
}
@if (IsVisible ?? (Value > DateTimeOffset.MinValue))
{
    var v = Value?.LocalDateTime;
    <dt class="col-@col">
        <label title="@Description">@Title</label>
    </dt>
    <dd class="col-@(12 - col)">
        <span title="@v?.ToString(ToolTipFormat)">@v?.ToString(DisplayFormat)</span>
    </dd>
}
@code
{
    [Parameter]
    public DateTimeOffset? Value { get; set; }

    [Parameter]
    public string DisplayFormat { get; set; } = "yyyy/MM/dd HH:mm.ss";

    [Parameter]
    public string ToolTipFormat { get; set; } = "yyyy/MM/dd (ddd) HH:mm.ss.fff";
}
