@namespace Shipwreck.ViewModelUtils.Components
@inherits PopoverRowBase
@{
    var col = LabelColumn ?? DefaultLabelColumn;
}
@if (IsVisible != false)
{
    <dt class="col-@col">
        <label title="@Description">@Title</label>
    </dt>
    <dd class="col-@(12 - col)">
        <span class="badge @Style.ToBadgeClass()">
            @Value
        </span>
    </dd>
}
@code
{
    #region Value

    private string _Value;

    [Parameter]
    public string Value
    {
        get => _Value;
        set => SetProperty(ref _Value, value);
    }

    #endregion

    #region Style

    private BorderStyle _Style;

    [Parameter]
    public BorderStyle Style
    {
        get => _Style;
        set => SetProperty(ref _Style, value);
    }

    #endregion
}
