@namespace Shipwreck.ViewModelUtils.Components
@inherits PopoverRowBase
@using (OnBeginRender())
{
    var col = LabelColumn ?? DefaultLabelColumn;
    if (IsVisible != false)
    {
        <dt class="col-@col">
            <label title="@Description">@Title</label>
        </dt>
        <dd class="col-@(12 - col)">
            @ChildContent
        </dd>
    }
}
@code
{
    public static string DefaultLabelColumnParameterName => DEFAULT_LABEL_COLUMN_NAME;

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
