input[type=text],
input[type=number],
input[type=password],
input[type=search],
select {
    &:not([disabled]):not([readonly]) {
        &[data-val-required], &.required {
            background-color: #fcfcee;
        }
    }
}

.entity-selector {
    flex-wrap: nowrap;

    .entity-selector-code, .entity-selector-name {
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: scroll;

        ::-webkit-scrollbar {
            display: none;
        }
    }
}
