.sticky-table-root-container {
    position: absolute;
    margin: 15px 0;
    padding: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow: auto;

    thead {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 5;
        white-space: nowrap;
    }
}
