@namespace Shipwreck.ViewModelUtils.Components
@typeparam T
@inherits ListComponentBase<T>
@using (OnBeginRender())
{
    <CascadingValue Value="SearchPage">
        <div @ref="_Element"
             class="sticky-table-root-container"
             @attributes="@AdditionalAttributes">

            <table class="@TableClass">
                <thead class="@TheadClass">
                    @HeaderTemplate
                </thead>
                <tbody>
                    @if (Source != null)
                    {
                        for (var i = 0; i < Source.Count; i++)
                        {
                            @ItemTemplate(new ItemTemplateContext<T>(i, (T)Source[i]))
                        }
                    }
                </tbody>
                @FooterTemplate
            </table>
        </div>
    </CascadingValue>
}
