@namespace Shipwreck.ViewModelUtils.Components
@inherits BindableComponentBase<ISelectable>
<td @attributes="@AdditionalAttributes">
    <Checkbox @bind-IsChecked="@DataContext.IsSelected" />
</td>
@code
{
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes
    {
        get => _AdditionalAttributes;
        set => SetProperty(ref _AdditionalAttributes, value);
    }
    private IDictionary<string, object> _AdditionalAttributes;

    protected override bool OnDataContextPropertyChanged(string propertyName)
    {
        switch (propertyName)
        {
            case nameof(DataContext.IsSelected):
                return true;
        }
        return false;
    }
}
