@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue IsFixed="true" Value="this">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>
<BootstrapModalPresenter @ref="_ModalPresenter" />
<BootstrapModalPresenter @ref="_PopoverPresenter" />
<BootstrapToastPresenter @ref="_ToastPresenter" />
@code
{
    private BootstrapModalPresenter _ModalPresenter;
    private BootstrapModalPresenter _PopoverPresenter;
    private BootstrapToastPresenter _ToastPresenter;

    public ModalPresenterBase ModalPresenter => _ModalPresenter;
    public ModalPresenterBase PopoverPresenter => _PopoverPresenter;
    public ToastPresenterBase ToastPresenter => _ToastPresenter;
}
