@inherits BindableComponentBase
@using (OnBeginRender())
{
    <div class="text-center text-muted my-4">
        <div>
            @Message
            @if (TotalCount > 0)
            {
                @($" ({Progress:#,0}/{TotalCount:#,0})")
            }
        </div>
        <div class="mt-2">
            <span class="fas fa-pulse fa-spinner fa-6x"></span>
        </div>
    </div>
}
@code
{
    [Parameter]
    public string Message { get; set; } = "データを取得しています。";

    [Parameter]
    public int TotalCount { get; set; }

    [Parameter]
    public int Progress { get; set; }
}
