@inherits BindableComponentBase<MenuPageItemViewModel>
@using (OnBeginRender())
{
    if (DataContext?.Command?.IsVisible == true)
    {
        if (DataContext.SubCommands.Count == 0)
        {
            <CommandButton BaseClass="btn btn-block" DataContext="@DataContext.Command" />
        }
        else
        {
            <div class="btn-group btn-block" role="group">
                <CommandButton BaseClass="btn"
                               DataContext="@DataContext.Command" />
                @foreach (var c in DataContext.SubCommands)
                {
                    <CommandButton @key="@c.GetHashCode()"
                                   BaseClass="btn"
                                   DataContext="@c" />
                }
            </div>
        }
    }
}
