@inherits ListComponentBase<MenuPageGroupViewModel>
@using (OnBeginRender())
{
    <div class="row">
        @if (Source != null)
        {
            foreach (MenuPageGroupViewModel g in Source)
            {
                <MenuGroup @key="@g.GetHashCode()" DataContext="@g" />
            }
        }
    </div>
}
