@inherits BindableComponentBase
@using (OnBeginRender())
{
    <th @attributes="@GetTableCellAttributes()">
        <div @attributes="@GetTableCellInnerAttributes()">
            @ChildContent
        </div>
    </th>
}
@code
{
    [CascadingParameter]
    public ScrollableTableTheme Theme { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> AdditionalAttributes
    {
        get => _AdditionalAttributes;
        set => SetProperty(ref _AdditionalAttributes, value);
    }
    private IDictionary<string, object> _AdditionalAttributes;

    [Parameter] 
    public IDictionary<string, object> InnerAttributes
    {
        get => _InnerAttributes;
        set => SetProperty(ref _InnerAttributes, value);
    }
    private IDictionary<string, object> _InnerAttributes;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private IEnumerable<KeyValuePair<string, object>> GetTableCellAttributes()
        => AdditionalAttributes.MergeAttributes(Theme?.TableHeaderCellAttributes);

    private IEnumerable<KeyValuePair<string, object>> GetTableCellInnerAttributes()
        => InnerAttributes.MergeAttributes(Theme?.TableHeaderCellInnerAttributes).PrependStyle("position: absolute;box-sizing: border-box;top: 0");
}
